<div class="container bg-light">
    <div class="row contentHeading">
        <div>About Me</div>
        <div class="divHeadBorder"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <img width="200" height="200" src="assets/images/linkimage.jpeg">
            </div>
            <div class="row mt-5 p-2">
                

                <div class="card"><h3 class="card-header">Education:</h3>
                    <span>B.S. Drexel University</span><br><span>UPenn Software Bootcamp</span></div>
            </div>
            <div class="row mt-3 p-2">
                <div class="card">
                    <h3 class="card-header">Technologies</h3>
                    <div class="card-body">
                        <ul  class="list-unstyled">
                            <li>Javascript</li>
                            <li>Node.js</li>
                            <li>express</li>
                            <li>React</li>
                            <li>MongoDB</li>
                            <li>Angular</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="mainText">
                <p>Junior level Javascript Full-Stack Web Developer with previous experience with object-oriented
                    programming languages such as c++/c# and the .NET Framework. Looking to move in the direction of
                    open source technologies. Recently graduated from University of Pennsylvania's Software
                    Bootcamp. A program that covered the MERN Javascript stack (MongoDB, Express, Node, React). A
                    developer with a passion for continuous learning. Possess great ability to learn new languages,
                    frameworks and design patters. Great communication skills and ability to lead others when
                    needed. </p>
            </div>
        </div>
    </div>
</div>
