<div class="container bg-light">
  <div class="row contentHeading">
    <div>About Me</div>
    <div class="divHeadBorder"></div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img width="200" height="200" src="assets/images/linkimage.jpeg" />
    </div>
    <div class="col-md-9">
      <div id="mainText">
        <p>
          Junior Level JavaScript Full-Stack Web Developer with ten years of
          software experience prepared to craft custom web solutions for
          clients. Starting with a traditional Computer Software Engineering
          degree from Drexel University, Amir established himself early in
          software development with an affinity for object-oriented programming
          languages such as C++/C# and the .NET Framework. Looking to move in
          the direction of open source technologies, Amir pursued the
          opportunity to participate in the University of Pennsylvania LPS
          Coding Bootcamp program. He successfully earned a Full Stack Web
          Developer Certificate that covers the MERN JavaScript stack (MongoDB,
          Express, Node, React) and participated in the Developer’s Showcase
          highlighting promising projects from the course. Given Amir’s
          technology background, he excels at learning new languages, frameworks
          and design patterns. Amir looks forward to the opportunity to take
          additional projects to the next level with the latest tools and pursue
          his passion for continuous learning.
        </p>
      </div>
    </div>
    <div class="row mt-5 p-2">
      <div class="card">
        <h3 class="card-header">Education:</h3>
        <span>B.S. Drexel University</span><br /><span
          >UPenn Software Bootcamp</span
        >
      </div>
    </div>

    <div class="row">
      <div class="ml-2 mt-5 p-2">
        <div class="card">
          <h3 class="card-header">Technologies</h3>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>Javascript</li>
              <li>Node.js</li>
              <li>express</li>
              <li>React</li>
              <li>MongoDB</li>
              <li>Angular</li>
              <li>c#</li>
              <li>SQL</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-5 p-2">
        <div class="card">
          <h3 class="card-header"Development Experience:</h3>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>Reliance Standard - c#</li>
              <li>Barati Medical - js</li>
              <li>villa - c# / t-sql</li>
              <li>ECRI - c#</li>
              <li>GDC - c#</li>
              <li>Angular</li>
              <li>c#</li>
              <li>SQL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
