<div class="container">
    <div class="row contentHeading">
        <div>Contact Info</div>
        <div class="divHeadBorder"></div>
    </div>
    <div class="divForm">
        <form>
            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name:</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row rowHeight"></div>
            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email:</span>
                    </div>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row rowHeight"></div>
            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Message:</span>
                    </div>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <div class="row rowHeight"></div>
            <div class="row">
                <div class="input-group">
                    <div class="col-md-11"></div>
                    <div class="col-md-1"><button type=submit class="btn btn-primary">Submit</button></div>
                </div>
            </div>
        </form>
    </div>
</div>