<div class="container">
    <div class="row contentHeading">
        <div>About Me</div>
        <div class="divHeadBorder"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <img width="200" height="200" src="assets/images/linkimage.jpeg">
            </div>
            <div class="row">
                

                <div><span>Education:</span>
                    <span>B.S. Drexel University</span><br><span>UPenn Software Bootcamp</span></div>
            </div>
            <div class="row">
                <div>
                    <h3>Technologies</h3>
                    <ul>
                        <li>Javascript</li>
                        <li>Node.js</li>
                        <li>express</li>
                        <li>React</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="mainText">
                <p>Junior level Javascript Full-Stack Web Developer with previous experience with object-oriented
                    programming languages such as c++/c# and the .NET Framework. Looking to move in the direction of
                    open source technologies. Recently graduated from University of Pennsylvania's Software
                    Bootcamp. A program that covered the MERN Javascript stack (MongoDB, Express, Node, React). A
                    developer with a passion for continuous learning. Possess great ability to learn new languages,
                    frameworks and design patters. Great communication skills and ability to lead others when
                    needed. </p>
            </div>
        </div>
    </div>
</div>
