
 <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">
          <h1 class="text-white">Amir Pourrezaei</h1>
      </a>
      <ul class="navbar-nav">
          <li class="nav-item "><a routerLink="/about" class="nav-link active text-white">About</a></li>
          <li class="nav-item"><a routerLink="/portfolio" class="nav-link text-white">Portfolio</a></li>
          <li class="nav-item text-white"><a routerLink="/contact" class="nav-link text-white">Contact</a></li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
